body{
margin:0;
padding:0;
}
.outer{
background-color:black;
}
.title{
text-align:center;
}
.title>img{
width:100%;
height:150px;
}
.links{
background-color:black;
font-size:20px;
position:sticky;
top:0;
display:flex;
border:2px solid rgba(139,0,0,.3);
}
a{
color:white;
}
.choice1{
margin:20px;
}
.choice2{
margin:20px;
}
.choice3{
margin:20px;
}
.choice5{
margin:20px;
}
.choice6{
margin-left:auto;
margin-top:20px;
margin-right:20px;
margin-bottom:20px;
}
article{
background-color:black;
color:white;
width:350px;
height:100%;
padding:5px;
border:2px solid rgba(139,0,0,.3);
text-align:center;
}
.list{
display:block;
}
.list>i>div>a{
font-size:30px;
}
.list>i>div{
margin-top:20px;
}
.about{
font-size:20px;
margin-top:300px;
}
.bod{
display:flex;
background-color:black;
}
.out{
width:100%;
background-image:url("mf3.jpeg");
background-repeat:no-repeat;
background-size:100% 100%;
}
.in{
background-color:rgba(0,0,0,.9);
border-radius:5px;
}
.in>h2{
padding:10px;
color:white;
}
.des{
background-color:rgba(250,250,250,.65);
border-radius:5px;
margin:20px;
}
.des>i>span{
padding:10px;
font-size:22px;
}
.pics{
display:flex;
}
.el1>img{
width:400px;
height:200px;
margin:20px;
border:2px solid black;
border-radius:20px;
}
.el2>img{
width:250px;
height:200px;
margin:20px;
border:2px solid black;
border-radius:20px;
}
.el3>img{
width:200px;
height:200px;
margin:20px;
border:2px solid black;
border-radius:20px;
}