body{
margin:0;
padding:0;
background-image:url("StrangerBG.jpeg");
background-repeat:no-repeat;
background-attachment:fixed;
background-size:100% 920px;
}
.log{
margin:10px;
}
.button{
background-color:black;
color:white;
cursor:pointer;
border:none;
padding:5px 10px;
font-size:18px;
border-radius:5px;
position:relative;
text-shadow:2px 2px 5px red;
}
.button:hover{
background-color:rgba(250,250,250,.5);
}
.help{
margin-left:75%;
color:white;
font-size:20px;
text-decoration:underline;
cursor:pointer;
position:relative;
}
.profile>img{
display:block;
margin-left:auto;
margin-right:auto;
border:5px solid black;
border-radius:200px;
height:200px;
width:200px;
}
span{
color:white;
border:1px solid white;
border-radius:100%;
padding-left:5px;
padding-right:5px;
text-decoration:none;
}
.outer{
text-align:center;
justify-content:center;
display:flex;
margin:5px;
}
.inner{
background-color:rgba(0,0,0,.9);
width:450px;
height:430px;
border-radius:20px;
color:white;
}
form{
margin:30px;
font-size:20px;
}
input{
background-color:black;
border:1px solid white;
color:white;
margin:20px;
height:50px;
font-size:20px;
cursor:pointer;
padding:5px;
border-radius:5px;
}
a{
text-decoration:underline;
cursor:pointer;
text-shadow:2px 2px 5px red;
}
input:hover{
background-color:rgba(250,250,250,.3);
}
a:hover{
background-color:rgba(250,250,250,.3);
}
input[type=submit]{
text-shadow:2px 2px 5px red;
}