body{
margin:0;
padding:0;
}
.outer{
background-color:black;
}
.title{
text-align:center;
}
.title>img{
width:100%;
height:150px;
}
.links{
background-color:black;
font-size:20px;
position:sticky;
top:0;
display:flex;
border:2px solid rgba(139,0,0,.3);
}
a{
color:white;
}
.choice1{
margin:20px;
}
.choice2{
margin:20px;
}
.choice3{
margin:20px;
}
.choice5{
margin:20px;
}
.choice6{
margin-left:auto;
margin-top:20px;
margin-right:20px;
margin-bottom:20px;
}
article{
background-color:black;
color:white;
width:350px;
height:100%;
padding:5px;
border:2px solid rgba(139,0,0,.3);
text-align:center;
}
.list{
display:block;
}
.list>i>div>a{
font-size:30px;
}
.list>i>div{
margin-top:20px;
}
.about{
font-size:20px;
margin-top:300px;
}
.bod{
display:flex;
background-color:black;
}
.summary{
width:100%;
background-image:url("mf3.jpeg");
background-repeat:no-repeat;
background-size:100% 100%;
}